.navegacion {
  height: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 1300px;
  .logo {
    width: 40%;
    display: inline-block;
    img {
      max-width: 100%;
      max-height: 45px;
    }
  }
  .menu {
    height: 0%;
    font-size: 16px;
    width: 60%;
    display: inline-block;
    float: right;
    text-align: right;
    background-color: transparent;
    .submenu {
      display: none;
      position: absolute;
      text-align: left;
      padding: 0rem 0rem 0rem;
      color: #ff4c29;
      background-color: transparent;
    }
    &> li {
      display: inline-block;
      margin: 1.3rem 2rem;
      &> a {
        display: block;
        font-size: 1.5rem;
        position: relative;
        background-color: transparent;
      }
    }
  }
}


.navegacion .menu > li:hover > a {
  color: white;
}

.navegacion .menu > li:hover .submenu {
  display: block;
  padding: 1rem 0rem;
}
.navegacion .menu > li > .submenu > li {
  width: 99px;
  background-color: transparent;
}
.navegacion .menu > li:hover > .submenu > li > a {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
a.nu {
  background-color: transparent;
}